.App {
  background: url("images/brickwallbg2.jpg");
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.App-logo {
  background: url("images/bean@4.png");
  background-size: contain;
  height: 60px;
  width: 100px;
  background-repeat: no-repeat;
  background-position-x: center;
}
.App-logo > span {
  position: absolute;
  overflow: visible;
  color: antiquewhite;
  font-family: cursive;
  text-align: center;
  bottom: 0px;
  font-size: 1.2em;
}

.App-navbar {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  -moz-backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  box-shadow: 3px 3px 5px rgba(31, 13, 3, 0.9);

  width: 100%;
  position: fixed;
  z-index: 99;
}

.App-navbar > a {
  display: block;
  text-decoration: none;
  margin: 0 20px;
  color: antiquewhite;
}

.App-navbar > a:hover {
  transition: 1s;
  color: black;
}

.App-wrapper {
  backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.3);
  width: 80%;
  margin: auto;
  min-height: 1000px;
  color: antiquewhite;
  display: flex;
  /* padding: 10px; */
  margin-top: 50px;
}

.App-popup {
  z-index: 9;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  margin-top: 50px;
  padding-top: 20px;
}

.App-popup-content {
  width: 80%;
  height: 90vh;
  margin: 0 auto;
  display: flex;
}
.App-popup-content > .close-button {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 40px;
  width: 40px;
  font-size: 1.5em;
  background-color: darkred;
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.blur {
  backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}