.Posts-show-fullscreen > .Posts-show > .Posts-show-interactions-bar > .Posts-show-comment-count {
  background-color: antiquewhite;
  opacity: 0.6;
  color: #663b24;
  border-radius: 0px 5px 5px 0px;
  padding: 5px;
  padding-bottom: 0px;
  margin-bottom: -5px;
}
.Posts-show-fullscreen > .Posts-show > .Posts-show-interactions-bar > .Posts-show-comment-count > svg {
  fill: #663b24;
}

.Comments-container {
  background-color: antiquewhite;
  opacity: 0.6;
  border-radius: 5px;
  border-top-right-radius: 0px;
  float: right;
  overflow: scroll;
  backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
  width: 50%;
  height: 100%;
}

.Comments-feed {
  /* display: flex; */
  padding: 10px;
}

.Comments-show {
  color: #663b24;
  /* justify-content: right; */
  text-align: right;
}