.Posts-container {
  padding: 10px;
}
.Posts-feed {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Posts-show {
  position: relative;
  background: url("images/bean@4.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  transform: rotateZ(-5deg);
  /* border: solid red 1px; */
  width: 300px;
  height: 300px;
  margin: 20px;
  cursor: pointer;
}

.Posts-show-date {
  color: antiquewhite;
  font-size: 0.7em;
}

.Posts-show-user {
  width: 100%;
}
.Posts-show-user > a {
  word-wrap: break-word;
  color: antiquewhite;
}

.Posts-show-content {
  width: 100%;
  word-wrap: break-word;
  margin-left: 20px;
  margin-top: 40px;
}

.Posts-show-interactions-bar {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px
}

.Posts-new-button {
  position: fixed;
  top: 10px;
  right: 10px;

  background: url("images/bean@4.png");
  background-size: contain;
  height: 80px;
  width: 80px;
  background-repeat: no-repeat;
  background-position-x: center;
  border: none;
  cursor: pointer;

  color: antiquewhite;
  font-size: 3em;
  text-align: right;
  font-family: cursive;
}

.Posts-show-fullscreen {
  z-index: 8;
  width: 100%;
  height: 100%;
}

.Posts-show-fullscreen > .Posts-show {
  transform: none;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  cursor: auto;
  background-position-y: top;
}
.Posts-show-fullscreen > * {
  color: antiquewhite;
}

.Posts-show-fullscreen > .Posts-show > .Posts-show-interactions-bar > .Posts-show-comment-count {
  display: block;
  float: right;
}

.Posts-show-fullscreen > .Posts-show > .Posts-show-interactions-bar > .Posts-reactions-bar {
  display: block;
  float: left;
}

.Posts-show-fullscreen > .Posts-show > .Posts-show-interactions-bar {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 60vh;
}